# Environments
venv/
.venv/
.env
.env.*

# Keep example env file
!.env.example

# Security Keys & Certificates
*.pem
private.pem
public.pem
keys/

# Logs
*.log
app.log

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Local database files
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Docker local files
docker-compose.override.yml